<div id="root">

  <header role="banner">
    <div class="inner">  
      <h1>Slothfill.com</h1>
    </div>
  </header>

  <section id="main">
    <div class="inner">
      <!-- <p>Simply pass /[width]/[height] to yield a placeholder image.</p>  -->
      <img src="">
      
      
       
        
     
    
    </div>

  </section>

  <div class="root_footer"></div>
</div><!-- .root -->


<footer role="footer">
  <div class="inner">
  Site &copy; 2013 by Bryan Paronto. 
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
   
    All images licensed under a 
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
      Creative Commons Attribution-ShareAlike 3.0 Unported License
    </a>.

    </div><!-- .inner -->
</footer>